#coach-container {
    position: relative; /* or absolute depending on your layout */
    display: inline-block;
    margin-left: 1px;
    z-index: 9999;
    cursor: pointer;
    transition: transform 0.3s ease;
    pointer-events: auto;
  }
  
  #coach-container:hover {
    transform: scale(1.1);
  }
  
  #coach-image {
    width: 80px;
    height: 80px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
    display: block;
    pointer-events: auto;
  }
  